.modal-overlay {
    position: fixed;
    bottom: 20px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.modal-content {
    position: fixed;
    bottom: 20px;
    background-color: #000000;
    border-radius: 14px;
    overflow: hidden;
}


.item-list {
    list-style-type: none;
    border-radius: 14px;
    max-height: 300px;
    overflow: auto;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 25px;
}

.item-list li a {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    text-decoration: none;
}

.item-list li a:hover:not(.active) {
    color: #ffab5d;
}

.active {
    color: #4bff27;
    font-weight: 600;
}

.inactive {
    color: #ffffff;
}

.item-name {
    overflow: hidden;
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}

.count {
    float: right;
    font-size: 16px;
}

/* Media Queries */

/* Initial Size */
@media only screen and (max-width: 320px) {
    .modal-content {
        border-radius: 8px;
    }

    .item-list {
        max-height: 200px;
        padding: 8px 15px;
    }

    .item-list li a {
        padding: 6px 0;
    }

    .item-name,
    .count {
        font-size: 12px;
    }
}


/* iPhone Screen Sizes and Media Queries */

/* iPhone SE Screen Size: 320 x 568 pixels 326ppi */
@media only screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .modal-content {
        border-radius: 8px;
    }

    .item-list {
        max-height: 200px;
        padding: 8px 15px;
    }

    .item-list li a {
        padding: 6px 0;
    }

    .item-name,
    .count {
        font-size: 12px;
    }
}

/* iPhone SE 2020, iPhone 6s/7/8 (Retina) - Screen Size: 375 x 667 pixels 326ppi */
@media only screen and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
    .modal-content {
        border-radius: 10px;
    }

    .item-list {
        max-height: 250px;
        padding: 10px 18px;
    }

    .item-list li a {
        padding: 8px 0;
    }

    .item-name,
    .count {
        font-size: 14px;
    }
}

/* iPhone X, iPhone XS, iPhone 11 Pro, iPhone 12 Mini, iPhone 13 Mini - Screen Size: 360 x 780 pixels */
@media only screen and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}

/*  iPhone 12/12 Pro, iPhone 13/13 Pro, iPhone 14,  - Screen Size: 390 x 844 pixels */
@media only screen and (min-width: 390px) and (-webkit-min-device-pixel-ratio: 3) {}

/* 20. iPhone 14 Pro, iPhone 15/15 Pro - Screen Size: 430 x 1290 pixels */
@media only screen and (min-width: 393px) and (-webkit-min-device-pixel-ratio: 3) {}

/* iPhone XR, iPhone 11 (Retina) - Screen Size: 414 x 896 pixels 326ppi*/
@media only screen and (min-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
    .modal-content {
        border-radius: 14px;
    }

    .item-list {
        max-height: 280px;
        padding: 12px 20px;
    }

    .item-list li a {
        padding: 8px 0;
    }

    .item-name,
    .count {
        font-size: 16px;
    }
}

/* 7.iPhone XS Max/11 Pro Max, iPhone 8 Plus, iPhone 7 Plus, iPhone 6s Plus (Super Retina) - Screen Size: 414 x 896 pixels */
@media only screen and (min-width: 414px) and (-webkit-min-device-pixel-ratio: 3) {}

/* 15. iPhone 12 Pro Max, iPhone 13 Pro Max, iPhone 14 Plus - Screen Size: 430 x 1100 pixels */
@media only screen and (min-width: 428px) and (-webkit-min-device-pixel-ratio: 3) {}

/* 21. iPhone 14 Pro Max, iPhone 15 Plus, iPhone 15 Pro Max  - Screen Size: 430 x 1290 pixels */
@media only screen and (min-width: 430px) and (-webkit-min-device-pixel-ratio: 3) {}

/* ----------------------------------------------------------------- */

/* Media Queries ----------------------------------------- */

/* 3. Small Tablets (480px): */
@media only screen and (min-width: 480px) {

    /* Styles for screens 480px and wider */
    .modal-content {
        border-radius: 14px;
    }

    .item-list {
        max-height: 300px;
        padding: 12px 20px;
    }

    .item-list li a {
        padding: 8px 0;
    }

    .item-name,
    .count {
        font-size: 17px;
    }
}

/* 4. Tablets (600px): */
@media only screen and (min-width: 600px) {

    /* Styles for screens 600px and wider */
    .modal-content {
        border-radius: 14px;
    }

    .item-list {
        max-height: 350px;
        padding: 13px 25px;
    }

    .item-list li a {
        padding: 8px 0;
    }

    .item-name,
    .count {
        font-size: 20px;
    }
}

/* 5. Large Tablets (768px): */
@media only screen and (min-width: 768px) {

    /* Styles for screens 768px and wider */
}

/* 6. Small Desktop Monitors (992px): */
@media only screen and (min-width: 992px) {

    /* Styles for screens 992px and wider */
}

/* 7. Medium Desktop Monitors (1200px): */
@media only screen and (min-width: 1200px) {

    /* Styles for screens 1200px and wider */
}

/* 8. Large Desktop Monitors (1400px): */
@media only screen and (min-width: 1400px) {

    /* Styles for screens 1400px and wider */
}