* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categories-page {
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.categories-page-background-container {
    position: relative;
    min-height: 92vh;
    width: 100%;
    max-width: 1100px;
    background-color: #ffffff;
    padding: 20px 16px 35px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.categories-page-background-container::before {
    position: absolute;
    content: "";
    background-image: url("../../assets/patterns/pat2.webp");
    background-position: center;
    background-size: initial;
    background-repeat: repeat;
    opacity: 0.5;
    inset: 0;
    z-index: -1;
}

.title-container {
    margin-top: 20px;
}

.title {
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 15px;
}

.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    transition: 400ms;
    -webkit-transition: 400ms;
    margin-top: 60px;
}

.category-btn {
    width: 160px;
    height: 80px;
    outline: none;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.623) 0px 5px 15px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category-btn:hover {
    transform: scale(0.98);
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-text {
    display: inline-block;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    font-weight: bold;
    width: 110px;
    padding: 2px 0;
    color: #ffffff;
    background-color: #00000080;
    border: 2px solid #ffffffb4;
    border-radius: 4px;
    transition: 300ms;
    position: absolute;
    z-index: 999;
}

.category-text:hover {
    width: 100%;
    height: auto;
    border-radius: 0;
    text-align: center;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
}