/* Logo and Restaurant Name */
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1100px;
    padding: 2px 2px;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid #a8a8a873;
    position: sticky;
    top: 0;
    z-index: 10000;
    transition: box-shadow 0.3s ease;
}


.header.sticky-header {
    /* Add any additional styles you want to apply when the header is sticky */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: Add shadow when sticky */
}


.logo {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.restaurant-name {
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    font-family: "Merriweather ", serif;
}

.logo-link {
    outline: none;
    border: none;
}


/* Search Bar Container Styles */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.input {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.input::placeholder {
    color: transparent;
}

.input:focus::placeholder {
    color: #838080;
}

.input:focus,
.input:not(:placeholder-shown) {
    background-color: #ffffff;
    border: 1px solid #6200ff;
    width: 290px;
    cursor: text;
    padding: 18px 40px 18px 40px;
}

.icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: -1;
    fill: rgb(98, 0, 255);
    border: 1px solid rgb(98, 0, 255);
    transition: .2s ease-in-out;
}

.input:hover+.icon {
    transform: rotate(360deg);
    transition: .2s ease-in-out;
}

.input:focus+.icon,
.input:not(:placeholder-shown)+.icon {
    z-index: 0;
    background-color: transparent;
    border: none;
}

/* Cross Icon Styles */
.cross-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    /* Hide cross icon by default */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.input:not(:placeholder-shown)~.cross-icon {
    display: block;
    /* Show cross icon only when input has content */
}


/* ---------------------------------- */